nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
}
body{
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}
.nav-title{
    color: var(--Dark-01, #181818);
font-size: 45px;
font-weight: 800;
}
.btn-primary{
    border-radius: 5px;
    background-color: #FD6E0A;
    color: aliceblue;
    font-size: 20px;
    font-weight: 700;
    border: 0;
    padding: 18px 35px;

}
nav > ul {
    display: flex;
    color: var(--Dark-02, #474747);
    align-items: center;
} 
nav a{
    text-decoration: none;
    color: #474747;
    font-weight: 400;
    font-size: 20px;

}
nav li{
    margin-right: 50px;
    list-style: none;
    
}  
.primary-text{
    color: #FD6E0A;
}
/* header related style */
.header{
    background: #FFF8F3;
}
.banner{
    padding: 30px 30px 30px 150px;
    display: flex;
    align-items: center;
}
.banner .profile-pic{
    width: 584px;
    height: 676px;
}